name: Build and deploy Angular and Node.js app to Azure Web App - scrumpoker1

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install Dependencies
        run: npm install

      - name: Build Angular Project
        run: npm run build-poker

      - name: Build Node.js API
        run: |
          cd api
          npm install

      - name: Prepare Deployment Package
        run: |
          mkdir -p deployment
          cp -r dist/poker-app deployment/
          cp -r api deployment/
          cp Dockerfile deployment/
          cp nginx.conf deployment/
          cd deployment
          zip -r ../release.zip .
          cd ..

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: angular-node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: angular-node-app
          path: .

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: jjlbscrum-poker
          package: release.zip
