name: Build and deploy Angular and Node.js app to Azure Web App - jjlbscrum-poker

on:
  push:
    branches:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install Dependencies
        run: npm install

      - name: Build Angular Project
        run: npm run build-poker

      - name: Build Node.js API
        run: |
          cd api
          npm install

      - name: Prepare Deployment Package
        run: |
          mkdir -p deployment/browser
          mkdir -p deployment/api
          cp -r dist/poker-app/* deployment/browser/
          cp -r api/* deployment/api/
          cp nginx-azure.conf deployment/
          cp startup.sh deployment/
          chmod +x deployment/startup.sh

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: angular-node-app
          path: deployment

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: angular-node-app
          path: deployment

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: jjlbscrum-poker
          package: deployment
          startup-command: "/home/site/wwwroot/startup.sh"
